<div class="form-group">
	<label>Card Number</label>
	<input type="text" name="number" class="form-control" />
	<small class="help-block"><code>4242424242424242</code> for success.</small>
</div>
<div class="form-group">
	<label>Security Code</label>
	<input type="text" name="cvc" class="form-control" />
	<small class="help-block">Any 3 digits</small>
</div>
<div class="form-group">
	<label>Expiration Date</label>
	<div class="row">
		<div class="col-md-6">
			<input type="text" name="expiry_month" placeholder="MM" class="form-control" />
		</div>
		<div class="col-md-6">
			<input type="text" name="expiry_year" placeholder="YY" class="form-control" />
		</div>
	</div>
	<small class="help-block">Any date in the future</small>
</div>